.photoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.photoContainer:hover .photoOverlay {
  opacity: 1;
}

.uploadIcon {
  width: 80px;
  height: 80px;
  filter: invert(1); /* Для лучшей видимости на темном фоне */
}