.descriptionBlock {
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.profileBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  margin: 10px 10px 0 10px;
}