.container {
  display: flex;
  gap: 35px;
  align-items: center;
  padding: 10px;
}

.descriptionBlock {
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.profileData {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.aboutMe span {
  color: white;
  font-weight: 300;
}

.statusText {
  font-weight: bold;
  margin-left: 5px;
  color: white;
}

.statusTitle {
  cursor: pointer;

}

.avatarContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.avatar {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.contact {
  font-size: 16px;
}

.contact span {
  color: gold;
  font-weight: 300;
}

.button {
  margin-top: 10px;
  background-color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  border-radius: 5px;
  background-color: rgb(8, 102, 233);
  transform: scale(1.05); 
  color: white; 
}